
.BasicTracker {
  margin: auto ;
 align-items: center;
 text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
 max-width: fit-content;
 padding: 20px;
 margin-top: 3%;
 font-weight: 500;
 font-size: larger;
}

.Header {
  text-align: center;
  margin-top: 3%;
  font-weight: 700;
  font-size: xx-large;
}
.Main {
  text-align: center;
}

span {
  margin: 20px;
}